{% extends 'base.html' %}

{% load static %}

{% block title %} | Pol&iacute;tica de Privacidad {% endblock %}

{% block content %}
<table class="w-100">
    <thead>
        <tr>
            <th colspan="3" class="w-100">
                <br>
                <p>
                    <span class="nt_inicio">Pol&iacute;tica de Privacidad</span>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">NT SOFT - BOLIVIA</span> respeta la privacidad de sus usuarios,
                    clientes y visitantes. Esta pol&iacute;tica describe c&oacute;mo recopilamos, utilizamos,
                    almacenamos y protegemos la informaci&oacute;n que recibimos a trav&eacute;s de nuestros sitios web,
                    sistemas, formularios de contacto, servicios de soporte y canales de mensajer&iacute;a como
                    WhatsApp Business.
                </p>
                <p class="nt_parrafo">
                    Al utilizar nuestros servicios o comunicarse con nosotros, usted acepta el tratamiento de sus datos
                    conforme a esta pol&iacute;tica.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Informaci&oacute;n que podemos recopilar</span>
                    Podemos recopilar datos de identificaci&oacute;n y contacto, como nombre, n&uacute;mero de
                    tel&eacute;fono, correo electr&oacute;nico, empresa, cargo, mensajes enviados, respuestas a men&uacute;s
                    interactivos, datos t&eacute;cnicos de la conversaci&oacute;n y cualquier informaci&oacute;n que el
                    usuario decida compartir voluntariamente.
                </p>
                <p class="nt_parrafo">
                    En el caso de WhatsApp Business, podemos recibir el n&uacute;mero de tel&eacute;fono del usuario,
                    el contenido de los mensajes, identificadores de mensajes, fecha y hora de interacci&oacute;n,
                    estado de entrega y lectura, y selecciones realizadas mediante botones o listas.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Uso de la informaci&oacute;n</span>
                    Utilizamos la informaci&oacute;n para atender consultas, responder solicitudes, brindar soporte,
                    enviar comunicaciones relacionadas con nuestros servicios, coordinar demostraciones, mejorar
                    nuestros sistemas, mantener registros operativos y cumplir obligaciones legales o contractuales.
                </p>
                <p class="nt_parrafo">
                    No vendemos ni alquilamos datos personales a terceros. Podemos compartir informaci&oacute;n con
                    proveedores tecnol&oacute;gicos necesarios para operar nuestros servicios, siempre bajo criterios de
                    confidencialidad, seguridad y finalidad limitada.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Conservaci&oacute;n y seguridad</span>
                    Conservamos la informaci&oacute;n durante el tiempo necesario para cumplir las finalidades descritas,
                    resolver consultas, mantener trazabilidad operativa y atender requerimientos legales. Aplicamos
                    medidas razonables de seguridad para proteger los datos contra accesos no autorizados, p&eacute;rdida,
                    alteraci&oacute;n o divulgaci&oacute;n indebida.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Derechos del usuario</span>
                    El usuario puede solicitar acceso, actualizaci&oacute;n, correcci&oacute;n o eliminaci&oacute;n de sus
                    datos personales escribiendo a nuestro correo de contacto. Revisaremos la solicitud y responderemos
                    dentro de un plazo razonable, de acuerdo con la normativa aplicable.
                </p>
                <p class="nt_parrafo">
                    Para solicitudes relacionadas con eliminaci&oacute;n de datos, consulte nuestra p&aacute;gina de
                    eliminaci&oacute;n de datos de usuario.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Contacto</span>
                    Para consultas sobre esta pol&iacute;tica o sobre el tratamiento de datos personales, puede
                    contactarnos al correo: acc.claros13@gmail.com.
                </p>
                <p class="nt_parrafo">
                    Fecha de actualizaci&oacute;n: 7 de septiembre de 2026.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>
    </tbody>
</table>

<table class="w-100">
    <thead>
        <tr>
            <th colspan="3" class="w-100">
                <br><br><br><br><br>
                <br><br><br><br><br>
            </th>
        </tr>
    </thead>
</table>

{% endblock %}
