{% extends 'base.html' %}

{% load static %}

{% block title %} | T&eacute;rminos y Condiciones {% endblock %}

{% block content %}
<table class="w-100">
    <thead>
        <tr>
            <th colspan="3" class="w-100">
                <br>
                <p>
                    <span class="nt_inicio">T&eacute;rminos y Condiciones</span>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    Estos t&eacute;rminos regulan el acceso y uso de los sitios web, sistemas, servicios digitales,
                    canales de contacto y soluciones tecnol&oacute;gicas ofrecidas por
                    <span class="nt_parrafo_blue">NT SOFT - BOLIVIA</span>.
                </p>
                <p class="nt_parrafo">
                    Al utilizar nuestros servicios, el usuario declara que ha le&iacute;do, entendido y aceptado estos
                    t&eacute;rminos.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Uso de los servicios</span>
                    El usuario se compromete a utilizar nuestros servicios de forma l&iacute;cita, responsable y conforme
                    a las finalidades para las que fueron puestos a disposici&oacute;n. No est&aacute; permitido utilizar
                    nuestros sistemas para actividades fraudulentas, abusivas, ilegales o que afecten la seguridad,
                    disponibilidad o integridad de la plataforma.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Comunicaciones por WhatsApp y otros canales</span>
                    Cuando el usuario se comunica con nosotros por WhatsApp Business, formularios web, correo
                    electr&oacute;nico u otros canales, autoriza que respondamos sus consultas, brindemos informaci&oacute;n
                    sobre nuestros servicios y demos seguimiento a solicitudes relacionadas con soporte, ventas,
                    demostraciones o atenci&oacute;n al cliente.
                </p>
                <p class="nt_parrafo">
                    El usuario puede dejar de comunicarse con nosotros por estos canales en cualquier momento,
                    escribiendo una solicitud de baja o eliminaci&oacute;n de datos.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Propiedad intelectual</span>
                    Los contenidos, dise&ntilde;os, textos, logotipos, im&aacute;genes, c&oacute;digo, documentaci&oacute;n
                    y materiales publicados en nuestros sitios o sistemas son propiedad de NT SOFT - BOLIVIA o se
                    utilizan con autorizaci&oacute;n correspondiente. No se permite su reproducci&oacute;n, distribuci&oacute;n
                    o modificaci&oacute;n sin autorizaci&oacute;n previa.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Limitaci&oacute;n de responsabilidad</span>
                    Procuramos mantener nuestros servicios disponibles y actualizados, pero no garantizamos que est&eacute;n
                    libres de interrupciones, errores o fallas t&eacute;cnicas. NT SOFT - BOLIVIA no ser&aacute;
                    responsable por da&ntilde;os derivados del uso indebido de la plataforma, interrupciones ajenas a
                    nuestro control o informaci&oacute;n incorrecta proporcionada por el usuario.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">Modificaciones</span>
                    Podemos actualizar estos t&eacute;rminos cuando sea necesario. La versi&oacute;n vigente estar&aacute;
                    disponible en esta p&aacute;gina y aplicar&aacute; desde su publicaci&oacute;n.
                </p>
                <p class="nt_parrafo">
                    Para consultas sobre estos t&eacute;rminos puede contactarnos al correo: acc.claros13@gmail.com.
                </p>
                <p class="nt_parrafo">
                    Fecha de actualizaci&oacute;n: 7 de septiembre de 2026.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>
    </tbody>
</table>

<table class="w-100">
    <thead>
        <tr>
            <th colspan="3" class="w-100">
                <br><br><br><br><br>
                <br><br><br><br><br>
            </th>
        </tr>
    </thead>
</table>

{% endblock %}
